.search {
  zoom: 1;
}
.search form {
  margin-top: -5px;
  position: relative;
}
form {
  display: block;
  margin-top: 0cm;
}
.search input[type=text] {
  height: 30px;
  font-size: 14px;
  line-height: 20px;
  background: #fdfdfd;
  padding: 5px 12px;
  display: block;
  padding-right: 40px;
  border-radius: 15px;
}
.search input[type=text]:focus {
  background: #fff;
  outline: none;
}
.search .btn {
  position: absolute;
  top: 1px;
  right: 0px;
  border: none;
  padding: 5px 9px;
  outline: none;
  color: #444;
}
