{% extends "scaffold.html" %}
{% load django_tables2 %}

{% block title %}
招聘信息 - 百度校招
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jobs.css">
{% endblock %}

{% block content %}
{% include "navbar.html" with tab=request.nav.active_tab %}
<div class="container">
    <div class="btn-toolbar">
        <button class="btn btn-primary" id="create-page">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;创建招聘信息
        </button>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            招聘信息

	    {% include "search.html" with action="jobs" value=request.GET.q href=request.path %}
        </div>
        <div class="panel-body">
            {% render_table table "table_template.html" %}   
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/html" id="form_tpl">
    <form class="form-horizontal" role="form" method='POST'>
        {{ form.pk }}
        <p class="alert" style="display: none;"></p>
        
        <div class="form-group">
            <label class="field required control-label" 
                    for="{{ form.name.id_for_label }}">
                    {{ form.name.label }}</label>
            <div class="value">{{ form.name }}</div>
        </div>

        <div class="form-group">
            <label class="field required control-label" 
                    for="{{ form.judge.id_for_label }}">
                    {{ form.judge.label }}</label>
            <div class="value">
                <div class="checkbox">
                    {{ form.judge }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="field required control-label" 
                    for="{{ form.place.id_for_label }}">
                    {{ form.place.label }}</label>
            <div class="value">
                {{ form.place }}
            </div>
        </div>

        <div class="form-group">
            <label class="field required control-label" 
                    for="{{ form.type.id_for_label }}">
                    {{ form.type.label }}</label>
            <div class="value">{{ form.type }}</div>
        </div>

        <div class="form-group">
            <label class="field required control-label" 
                    for="{{ form.education.id_for_label }}">
                    {{ form.education.label }}</label>
            <div class="value">{{ form.education }}</div>
        </div>

        <div class="form-group">
            <label class="field required control-label" 
                    for="{{ form.number.id_for_label }}">
                    {{ form.number.label }}</label>
            <div class="value">
                <label for='id-ignore-number' class="checkbox">
                    <input checked type="checkbox" name='ignore-number' id='id-ignore-number'>若干
                </label>                
                <div style="display: none;" name="number" id="number"> 
                    {{ form.number }}
                    <ul class="parsley-error-list" style="display:none"></ul>
                </div>    
            </div>
        </div>

        <div class="form-group">
            <label class="field required control-label" 
                    for="{{ form.examplace.id_for_label }}">
                    {{ form.examplace.label }}</label>
            <div class="value">{{ form.examplace }}</div>
        </div>

        <div class="form-group">
            <label class="field required control-label" 
                    for="{{ form.workdesc.id_for_label }}">
                    {{ form.workdesc.label }}</label>
            <div class="value">{{ form.workdesc }}</div>
        </div>

        <div class="form-group">
            <label class="field required control-label" 
                    for="{{ form.jobdesc.id_for_label }}">
                    {{ form.jobdesc.label }}</label>
            <div class="value">{{ form.jobdesc }}</div>
        </div>

        <div class="form-group">
            <label class="field required control-label" 
                    for="{{ form.condition.id_for_label }}">
                    {{ form.condition.label }}</label>
            <div class="value">{{ form.condition }}</div>
        </div>

    </form>

</script>
<script type="text/javascript" src="{{ STATIC_URL }}requirejs/require.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jobs.js">
</script>
<script>
    require(["jobs"]);
</script>
{% endblock %}
